.play_btn {
  @apply flex justify-center w-16 h-16 bg-[#f37071] rounded-full relative items-center mx-auto;
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out,-webkit-transform .2s ease-in-out;
}
.play_btn::before {
  @apply content-[''] w-full h-full rounded-full absolute top-0 left-0 z-[1]; 
  -webkit-animation: ripple 2s infinite;
  animation: ripple 2s infinite;
}
@-webkit-keyframes ripple{0%{-webkit-box-shadow:0 0 0 0 rgba(243,112,113,0.7);box-shadow:0 0 0 0 rgba(243,112,113,0.7)}
70%{-webkit-box-shadow:0 0 0 15px rgba(243,112,113,0);box-shadow:0 0 0 15px rgba(243,112,113,0)}
100%{-webkit-box-shadow:0 0 0 0 rgba(243,112,113,0);box-shadow:0 0 0 0 rgba(243,112,113,0)}
}
@keyframes ripple{0%{-webkit-box-shadow:0 0 0 0 rgba(243,112,113,0.7);box-shadow:0 0 0 0 rgba(243,112,113,0.7)}
70%{-webkit-box-shadow:0 0 0 15px rgba(243,112,113,0);box-shadow:0 0 0 15px rgba(243,112,113,0
                                                                                )}
100%{-webkit-box-shadow:0 0 0 0 rgba(243,112,113,0);box-shadow:0 0 0 0 rgba(243,112,113,0)}
}